<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CogniSync"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- Splash (now the launcher) -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity kept but not launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Auth Screens -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- SIGNUP ACTIVITY WITH KEYBOARD FIX -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- Core App Screens -->
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".IntroActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".UpdateInfoActivity" android:exported="false" />

        <activity android:name=".ResetAccountActivity" android:exported="false" />
        <activity android:name=".ProgressDashboardActivity" android:exported="false" />

        <!-- Modules -->
        <activity android:name=".ModuleIntroActivity" android:exported="false" />
        <activity android:name=".ModuleHomeActivity" android:exported="false" />
        <activity android:name=".SessionActivity" android:exported="false" />

        <!-- Cognitive Tasks -->
        <activity android:name=".NBackActivity" android:exported="false" />
        <activity android:name=".SRTActivity" android:exported="false" />
        <activity android:name=".StroopTaskActivity" android:exported="false" />
        <activity android:name=".TaskSwitchActivity" android:exported="false" />
        <activity android:name=".SARTActivity" android:exported="false" />
        <activity android:name=".TaskAActivity" android:exported="false" />
        <activity android:name=".TaskBActivity" android:exported="false" />

        <!-- Assessment -->
        <activity
            android:name=".PreAssessmentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- OTP & Password Reset Flow -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".OtpVerifyActivity"
            android:exported="false" />

        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />

        <!-- Timetable -->
        <activity
            android:name=".TimetableActivity"
            android:exported="false" />

    </application>

</manifest>
